body {
    font-family: "Microsoft Yahei";
    margin: 0px;
    padding: 0px;
    background-color: #f3f6fc;
    min-width: 1300px;
    overflow: auto;
}
div,
form,
img,
ul,
ol,
li,
dl,
dt,
dd,
p,
tr,
td,
input,
body,
strong,
span,
pre {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul li {
    list-style: none
}
a {
    text-decoration: none;
    cursor: pointer;
}
img {
    border: none;
}
em,
i {
    font-style: normal;
}
.fl-l {
    float: left;
}
.fl-r {
    float: right;
}
.ta-l {
    text-align: left;
}
.ta-c {
    text-align: center;
}
.ta-r {
    text-align: right;
}
.hide {
    display: none!important;
}
.show {
    display: block!important;
}
/*遮罩层*/
.mask {
    display: none;
}
.mask-bg {
    position: fixed;
    z-index: 99998;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.mask-container {
    z-index: 99999;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 600px;
    min-height: 300px;
    background: #fff;
}
.mask-container h2 {
        font-size: 16px;
    color: #333333;
    height: 60px;
    line-height: 40px;
    padding: 10px 20px;
    border-bottom: 1px solid #1890FF;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 9;
    background: #fff;
}
.mask-container .layui-form {
    padding: 90px 60px 80px 30px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
}
.mask-container .mask-btn-box {
    height: 55px;
    line-height: 52px;
    padding: 0 20px;
    border-top: 1px solid #ddd;
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}
.layui-form-item.fl-50 {
    float: left;
    width: 50%;
    clear: none;
}
.btn-x {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
    background: url(../images/x.png)no-repeat center center;
    background-size: 15px;
    margin-top: 10px;
}
.cl-b {
    clear: both !important;
}
.required {
    color: red;
    font-size: 15px;
    margin-right: 2px;
    vertical-align: sub;
}
.layui-form-label {
    height: 20px;
    overflow: hidden;
}
.layui-table-page>div {
    text-align: center;
}
.layui-table,
.layui-table-view {
    margin: 0;
}
.mask .layui-btn:hover{
    opacity: 1;
}
/*------------------------------公共 End------------------------------*/
.login-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/login-bg.png)no-repeat center center;
    background-color: #4068E3;
    background-size: auto 50%;
}
.login-container {
    width: 480px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -140px -240px;
}
.login-container h1 {
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}
.login-container .login-item {
    width: 280px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin: 0 auto 22px;
    box-sizing: border-box;
    background: #fff;
}
.login-container .login-item input {
    width: 100%;
    height: 100%;
    padding: 8px 25px;
    box-sizing: border-box;
    background: url(../images/admin.png)no-repeat center left;
    -webkit-background-size: auto 18px;
    background-size: auto 18px;
    outline: none;
}
.login-container .login-item:nth-child(3) input {
    background-image: url(../images/psw.png);
}
.login-container .error-tips {
    width: 280px;
    margin: 0 auto;
    text-align: center;
    color: red;
    font-size: 12px;
    position: relative;
    top: -20px;
}
.login-container .login-btn {
    display: block;
    width: 280px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    background: #FFB751;
}
/*后台*/
.container {
    min-width: 1300px;
    overflow: auto;
}
/*头部区域*/
.layui-layout-admin .layui-header {
    padding-left: 25px;
    background-image: linear-gradient(90deg, #299FDD 0%, #527FFC 100%);
    background: -webkit-gradient(linear, 90% 0%, 0% 0%, from(#299FDD), to(#527FFC));
}
.layui-layout-admin .layui-logo {
    width: auto;
    font-size: 18px;
    color: #fff;
    position: relative;
    left: 0;
    display: inline-block;
    cursor: default;

}
.layui-layout-admin .layui-logo-sub {
    font-size: 14px;
    margin-left: 36px;
}
.layui-nav {
    padding: 0;
}
/*左侧导航区域*/
.layui-layout-admin .layui-side{
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
}
.layui-nav-tree .layui-nav-item,
.layui-layout-admin .layui-side {
    background: #fff;
    width: 220px;
}
.layui-nav-tree .layui-nav-item {
    padding-left: 25px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
}
.layui-nav-tree .layui-nav-child a,
.layui-nav-tree .layui-nav-item a,
.layui-nav-tree .layui-nav-iteme .layui-nav-child {
    font-size: 16px;
    color: rgba(51, 51, 51, .8)!important;
    background-color: #fff!important;
    padding-left: 25px;
    height: 60px;
    line-height: 60px;
}
.layui-nav-tree .layui-nav-child a:hover,
.layui-nav-tree .layui-nav-item a:hover {
    color: rgba(51, 51, 51, 1)!important;
}
.layui-nav-tree .layui-this a,
.layui-nav-tree .layui-this a:hover {
    color: #1890FF !important;
}
.layui-nav-tree .layui-nav-item a {
    background: url("../images/nav1.png")no-repeat center left !important;
    -webkit-background-size: 14px 14px;
    background-size: 14px 14px;
    font-weight: 600;
}
.layui-nav-tree .layui-nav-item:nth-child(2) a {
    background-image: url("../images/nav2.png") !important;
}
.layui-nav-tree .layui-nav-item:nth-child(3) a {
    background-image: url("../images/nav3.png") !important;
}
.layui-nav-tree .layui-nav-item:nth-child(4) a {
    background-image: url("../images/nav4.png") !important;
}
.layui-nav-tree .layui-this a {
    background-image: url("../images/nav01.png") !important;
}
.layui-nav-tree .layui-this:nth-child(2) a {
    background-image: url("../images/nav02.png") !important;
}
.layui-nav-tree .layui-this:nth-child(3) a {
    background-image: url("../images/nav03.png") !important;
}
.layui-nav-tree .layui-this:nth-child(4) a {
    background-image: url("../images/nav04.png") !important;
}
.layui-nav-tree .layui-nav-bar,
.layui-nav .layui-nav-bar,
.layui-nav .layui-this:after {
    display: none;
}
.layui-nav .layui-this a {
    color: rgba(255, 255, 255, .7);
}
/*右侧内容区域*/
.layui-layout-admin .layui-body {
    background: #fff;
    bottom: 0;
    left: 220px;
    margin: 20px 20px 0 20px;
    padding: 0 15px 15px;
    min-width: 1040px;
    box-sizing: border-box;
}
.layui-body .layui-body-title {
    font-size: 18px;
    color: #333333;
    text-align: left;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #d8d8d8;
    font-weight: 600;
    box-sizing: border-box;
}
.layui-body .layui-body-title {
    font-size: 18px;
    color: #333333;
    text-align: left;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #d8d8d8;
    font-weight: 600;
    box-sizing: border-box;
}
.layui-body .layui-body-title .layui-btn {
    font-weight: 400;
}
.layui-body .layui-body-title .layui-btn,
.search-form .layui-btn {
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}
/*分页*/
#listPage {
    text-align: center;
    margin-top: 15px;
}
/*上传图片*/
.layui-upload {
    min-height: 35px;
}
.uploadBtn,
.uploadBtn-edit {
    display: block;
    padding: 10px 8px;
    margin: 0 10px 0 0;
    float: left;
    line-height: 15px;
}
.layui-code,
.layui-upload-list {
    margin: 0;
    overflow: hidden;
}
.layui-upload-img {
    max-height: 100px;
}
/*列表*/
.list {
    border: 1px solid #ddd;
    border-top: 2px solid #1890FF;
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}
.list .list-title {
    height: 32px;
    line-height: 32px;
    color: #666;
    border-bottom: 1px solid #ddd;
    background: #f8f8f8;
    padding: 0 20px;
}
.list>li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    padding: 0 20px;
}
.list>li:hover {
    background: #EAF7FF;
}
.list>li:last-child {
    border-bottom: 1px solid transparent;
}
.list>li>div>a {
    color: #0077FF;
}
.list>li>div>a:nth-child(1) {
    margin-right: 20px;
}
.list .list-title>span,
.list>li>div {
    display: inline-block;
    float: left;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*——————————频道管理*/
.pd-body .content {
    padding: 25px;
}
.form-pd {
    width: 800px;
    margin: 0 auto;
}
.form-pd .layui-form-item {
    margin-bottom: 30px;
}
/*——————————banner管理*/
.banner-body .layui-body-title {
    border-bottom: 1px solid #fff;
}
/*banner列表*/
.banner-list .list-title>span:nth-child(2),
.banner-list>li>div:nth-child(2) {
    width: 200px;
}
.banner-list .list-title>span:nth-child(3),
.banner-list>li>div:nth-child(3) {
    width: 90px;
}
.banner-list .list-title>span:nth-child(4),
.banner-list>li>div:nth-child(4) {
    width: 270px;
}
.banner-list .list-title>span:nth-child(5),
.banner-list>li>div:nth-child(5) {
    width: 100px;
}
.banner-list .list-title>span:nth-child(6),
.banner-list>li>div:nth-child(6) {
    width: 170px;
}
.banner-list .list-title>span:nth-child(7),
.banner-list>li>div:nth-child(7) {
    width: 70px;
}
/*——————————栏目管理*/
.column-body .layui-body-title {
    border-bottom: 1px solid #fff;
}
.column-list .list-title>span:nth-child(2),
.column-list>li>div:nth-child(2) {
    width: 120px;
}
.column-list .list-title>span:nth-child(3),
.column-list>li>div:nth-child(3) {
    width: 90px;
}
.column-list .list-title>span:nth-child(4),
.column-list>li>div:nth-child(4) {
    width: 90px;
}
.column-list .list-title>span:nth-child(5),
.column-list>li>div:nth-child(5) {
    width: 250px;
}
.column-list .list-title>span:nth-child(6),
.column-list>li>div:nth-child(6) {
    width: 100px;
}
.column-list .list-title>span:nth-child(7),
.column-list>li>div:nth-child(7) {
    width: 170px;
}
.column-list .list-title>span:nth-child(8),
.column-list>li>div:nth-child(8) {
    width: 70px;
}
/*——————————文章管理*/
.search-form {
    padding: 15px 0 20px;
    /*overflow: hidden;*/
    clear: both;
}
.search-form .layui-form-item {
    /*display: inline-block;*/
    margin: 0 20px 15px 0;
    clear: none;
}
.search-form .layui-form-item label {
    width: auto;
    padding: 0;
    height: 35px;
    line-height: 35px;
    margin-right: 15px;
}
.search-form .layui-form-item .layui-input-block {
    height: 35px;
    min-height: 35px;
    line-height: 35px;
    margin: 0;
    float: left;
}
.search-form .layui-form-item .layui-input-block input {
    height: 35px;
    line-height: 35px;
}
.search-form .layui-form-item .layui-btn {
    float: left;
}
.article-content {
    clear: both;
}
.article-body .search-form .layui-form-item {
    margin-right: 25px;
    float: left;
}
/*新增文章*/
.fl-33 {
    float: left;
    width: 33.33%;
    margin: 0 0 20px!important;
}
.article-new-body .layui-input-block {
    padding-right: 30px;
}
.article-new-body .layui-form-item label {
    width: 80px;
}
.article-new-body .layui-form-item .layui-input-block {
    width: 200px;
}
/*修改*/
.mask-article-edit {
    width: 100%;
    height: 100%;
    min-width: 1300px;
    position: absolute;
}
.mask-preview .mask-container,
.mask-article-edit .mask-container {
    width:85%;
    height: auto;
    max-height: 80%;
    box-sizing: border-box;
    margin-top: -50px;
    overflow: auto;
}
.mask-article-edit .layui-form {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    padding-top: 60px;
}
.mask-article-edit .layui-form .article-edit-content{
        height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 30px 30px 55px 30px;
}
.mask-article-edit .layui-form .layui-form-item {
    clear: none;
}
.mask-article-edit .layui-form-item .fl-33 {
    margin-bottom: 15px !important;
}
.mask-article-edit .layui-form-item label {
    width: 80px;
}
.mask-article-edit .layui-form-item .layui-input-block {
    padding-right: 30px;
    width: 200px;
}
/*富文本*/
.article-new-content-t {
    height: 35px;
    line-height: 35px;
    width: 80px;
    text-align: right;
    margin-bottom: 10px;
}
.ueditor-container {
    width: 100%;
    margin-bottom: 30px;
}
/*提交*/
.article-new-content .layui-form {
    text-align: center;
}
.article-new-content .layui-form .layui-btn {
    width: 100px;
}
/*预览*/
.mask-preview .mask-container .preview-content{
    height: 500px;
    overflow-y: auto;
    padding: 15px;
    box-sizing: border-box;
        padding: 90px 30px 30px 30px;
}
/*文章列表*/
.article-list .list-title>span,
.article-list>li>div {
    width: 50px;
}
.article-list .list-title>span:nth-child(2),
.article-list>li>div:nth-child(2) {
    width: 120px;
}
.article-list .list-title>span:nth-child(3),
.article-list>li>div:nth-child(3) {
    width: 60px;
}
.article-list .list-title>span:nth-child(4),
.article-list>li>div:nth-child(4) {
    width: 120px;
}
.article-list .list-title>span:nth-child(5),
.article-list>li>div:nth-child(5) {
    width: 60px;
}
.article-list .list-title>span:nth-child(6),
.article-list>li>div:nth-child(6) {
    width: 60px;
}
.article-list .list-title>span:nth-child(7),
.article-list>li>div:nth-child(7) {
    width: 60px;
}
.article-list .list-title>span:nth-child(8),
.article-list>li>div:nth-child(8) {
    width: 130px;
}
.article-list .list-title>span:nth-child(9),
.article-list>li>div:nth-child(9) {
    width: 130px;
}
.article-list .list-title>span:nth-child(10),
.article-list>li>div:nth-child(10) {
    width: 50px;
}
.article-list .list-title>span:nth-child(11),
.article-list>li>div:nth-child(11) {
    width: 120px;
}
.article-list.list>li>div>a {
    margin-right: 15px;
}
/*——————————标签管理*/
.tag-body .layui-body-title,
.article-body .layui-body-title,
.article-new-body .layui-body-title {
    border-bottom: 0;
}
.tag-body .search-form .layui-form-item {
    margin-right: 25px;
    float: left;
}
/*标签列表*/
.tag-list .list-title>span:nth-child(2),
.tag-list>li>div:nth-child(2) {
    width: 200px;
}
.tag-list .list-title>span:nth-child(3),
.tag-list>li>div:nth-child(3) {
    width: 100px;
}
.tag-list .list-title>span:nth-child(4),
.tag-list>li>div:nth-child(4) {
    width: 250px;
}
.tag-list .list-title>span:nth-child(5),
.tag-list>li>div:nth-child(5) {
    width: 100px;
}